@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,700";
@font-face {
  font-family: "Star Wars";
  src: url(https://jsbin-user-assets.s3.amazonaws.com/rafaelcastrocouto/star-wars.woff);
}
body {
  background-color: #001;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='160' height='210' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23664' fill-opacity='0.1'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  background: black;
}

body::-webkit-scrollbar-thumb {
  outline: 1px solid rgba(0, 136, 255, 0.5);
  border-radius: 10px;
}
.rwd-table {
  margin: 1em 0;
  min-width: 300px;
}
.rwd-table tr {
  border-top: 1px solid whitesmoke;
  border-bottom: 1px solid whitesmoke;
}
.rwd-table th {
  display: none;
}
.rwd-table td {
  display: block;
}
.rwd-table td:first-child {
  padding-top: 0.5em;
}
.rwd-table td:last-child {
  padding-bottom: 0.5em;
}
.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}
.rwd-table td:before {
  display: none;
}
.rwd-table th,
.rwd-table td {
  text-align: left;
}
.rwd-table th,
.rwd-table td {
  display: table-cell;
  padding: 0.25em 0.5em;
}
.rwd-table th:first-child,
.rwd-table td:first-child {
  padding-left: 0;
}
.rwd-table th:last-child,
.rwd-table td:last-child {
  padding-right: 0;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
body {
  padding: 0 2em;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #444;
  background: #eee;
}

h1 {
  line-height: 40px;
  padding-bottom: 2vh;
  padding-top: 5vh;
  font-size: 7rem;
  color: gold;
  margin: 0.2em;
  letter-spacing: 0.1em;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.01);
  -webkit-text-stroke-color: #ff0000;
  filter: drop-shadow(-8px 8px 1px #0087ffcc);
  -webkit-text-stroke-width: 0.015em;
  font-family: "Star Wars";
}
.rwd-table {
  color: #fff;
  border-radius: 0.4em;
  overflow: hidden;
  -webkit-text-stroke-color: #ff0000;
  border: 2px solid #ff0000;
  box-shadow: -2px 2px 1px #0087ffcc;
}
.rwd-table tr {
  border-color: #46637f;
}
.rwd-table th,
.rwd-table td {
  margin: 1em 5em;
}

@media screen and (max-width: 1280px) {
  .rwd-table th,
  .rwd-table td {
    margin: 0.8em 3em;
  }
  h1 {
    font-size: 5rem;
  }
}

@media screen and (max-width: 845px) {
  .rwd-table th,
  .rwd-table td {
    margin: 0.8em 2em;
  }
  h1 {
    font-size: 3rem;
  }
}

@media (max-width: 480px) {
  .rwd-table th,
  .rwd-table td {
    margin: 0.8em 1em !important;
  }
  h1 {
    font-size: 2rem;
  }
}
.rwd-table th,
.rwd-table td:before {
  color: #dd5;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

tr {
  display: flex;
  justify-content: space-between;
}
