@import url("https://fonts.googleapis.com/css?family=Artifika|Lato:400,400i,700,700i|PT+Mono");
@font-face {
  font-family: "Star Wars";
  src: url(https://jsbin-user-assets.s3.amazonaws.com/rafaelcastrocouto/star-wars.woff);
}

* {
  box-sizing: border-box;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
html {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
  height: 100%;
  overflow: auto;
}

body {
  background-color: #001;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='160' height='210' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23664' fill-opacity='0.1'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  padding: 20px;
  height: 100%;
  overflow: auto;
  position: relative;
  margin: 0;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: "Star Wars", sans-serif;
  line-height: 40px;
  position: absolute;
  top: 2vh;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 2vh;
  padding-top: 2vh;
  font-size: 7rem;
  color: gold;
  margin: 0.2em;
  letter-spacing: 0.1em;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.01);
  -webkit-text-stroke-width: 0.015em;
  -webkit-text-stroke-color: rgb(0, 135, 255);
  filter: drop-shadow(-8px 8px 1px rgba(255, 0, 0, 0.8));
}

#output {
  height: calc(100% - 70px);
  overflow: auto;
}

.CodeMirror {
  height: calc(100% - 300px);
  width: calc(100% - 80px);
  border: 1px solid rgb(0, 135, 255);
  box-shadow: -4px 4px 1px rgba(255, 0, 0, 0.8);
  padding-top: 2vh;
}
@media screen and (max-width: 1280px) {
  .title {
    font-size: 6rem;
  }
}

@media screen and (max-width: 845px) {
  .title {
    font-size: 3.5rem;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 2.5rem;
  }
}
@keyframes shadow-blue {
  from {
    box-shadow: 0px 0px 1px rgb(0, 135, 255), 0px 0px 2px rgb(0, 135, 255),
      0px 0px 3px rgb(0, 135, 255), 0px 0px 5px rgb(0, 135, 255);
  }
  to {
    box-shadow: 0px 0px 2px rgb(0, 135, 255), 0px 0px 6px rgb(0, 135, 255),
      0px 0px 12px rgb(0, 135, 255), 0px 0px 25px rgb(0, 135, 255);
  }
}
a {
  text-decoration: none;
  color: #fff;
  font-family: "Star Wars", sans-serif;
}
.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-weight: 100;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}
.blue-btn {
  color: rgb(0, 135, 255);
  border: 1.5px solid rgb(0, 135, 255);
  border-radius: 7px;
  padding: 2vh 4vh;
  margin: 2vh;
}
.blue-btn:hover {
  animation-duration: 1s;
  animation-name: shadow-blue;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
